@{
    ViewData["Titlephrase"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   This is Employee Record management app.Anyone can view records but only a registered user can Add, Update and Delete records.
</div>
